.landing-container {
  display: grid;
  grid-template-areas: 
  "L S"
  "I V"
  "U V";
  width: 100vw;
  height: 100vh;
  background-color: #131313;;
  overflow-y: hidden;
}

.landing-logo {
grid-area: L;
width: 25vw;
display: flex;
justify-content: center;
align-items: center;
border-bottom: 2px solid white;
border-right: 2px solid white;
height: 15.5vh;
font-size: 55px;
color: white;
background-color: #000000;
}

.sign-in-form {
  grid-area: I;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  height: 43vh;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  font-size: 20px;
  color: white;

}

.sign-up-form {
  grid-area: U;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  height: 42.5vh;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  font-size: 20px;
  color: white;

}

.landing-slogan {
  grid-area: S;
  font-size: 40px;
  color: white;
  width: 70vw;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  
}

.landing-video {
  display: flex;
  justify-content: center;
  grid-area: V;
  margin-top: 30px;
  width: 69vw;
  height: 70vh;
  display: flex;
  justify-content: center;
}

.landing-input {
  margin-top: 10px;
  height: 30px;
}

.landing-label {
  font-size: 35px;
  padding-right: 35px;
}

.landing-label-signin {
  font-size: 35px;
  padding-right: 70px;
}


.sign-in-alignment {
  margin-top: 50px;
  margin-right: 35px;
  width: 16vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.landing-button {
  width: 105px;
  color:white;
  background-color: #0083E3;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  margin-top: 25px;
}