.filter-input {
  width: 20vw;
  height: 30px;
  padding-left: 10px;
  font-size: 20px;
  margin-left: 20px;
}

@media only screen and (max-width: 750px) {
  .filter-input {
    width: 40vw;
  }
}

@media only screen and (max-width: 1150px) {
  .filter-input {
    width: 30vw;
  }
}