label {
  color: white;
}

.form-add-container {
  max-width: 1685px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  /* padding-left: 15px; */
}

.add-label {
  /* height: 35px; */
  margin-bottom: 10px;
  width: 150px;
  font-size: 20px;

}

.add-input {
  height: 35px;
  width: 300px;
  margin-bottom: 10px;
  font-size: 18px;
}

.add-button {
  width: 150px;
  color:white;
  background-color: #0083E3;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}


@media only screen and (max-width: 750px) {
.form-add-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 100px;
  padding-left: 50px;
}
}