.businesses-container {
  margin-top: 10px;
  max-width: 100vw;
}

.businesses-labels {
display: flex;
width: 100vw;
max-width: 1685px;

color: white;
font: 15px;
margin-bottom:2px;
padding: 0 20px;
overflow-x: hidden;
}

.company-label {
  width: 25%
}

.contact-label {
  width: 17%
}

.phonenumber-label {
  width: 13%
}

.email-label {
  width: 22%
}

.industry-label {
  width: 15%
}

.clientstatus-label {
  width: 8%;
}

.businesses-filter {
  display: flex;
  align-items: center;
  max-width: 1685px;
}

.add-business-button {
  color: #0083E3;
  font-size: 55px;
  margin-left: 30px;
  padding-bottom: 7px;
}


@media only screen and (max-width: 1300px) {
  .businesses-labels {
    width: 100vw;
  }
}

@media only screen and (max-width: 1150px) {
  .industry-label,
  .clientstatus-label {
    display: none;
  }

  .company-label {
    width:35vw;
  }
  
  .contact-label {
    width:20vw;
  }
  
  .phonenumber-label {
    width:15vw;
  }
  
  .email-label{
    width:30vw;
  }

}

@media only screen and (max-width: 750px) {
  .phonenumber-label{
    display: none;
  }
  
  .email-label{
    display: none;
  }

  .company-label {
    width:65vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
  }
  
  .contact-label {
    width:35vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
  }
}