.business-prospects {
  /* background-color: #454851; */
  display: flex;
  width: 80vw;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-bottom: 1px solid white;
  height: 60px;
  font-size: 20px;
  padding-left: 10px;
}
.business-prospects:hover {
  background-color: #454851;
}

.name-prospects {
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-prospects {
  width: 17%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.phone-prospects {
  width: 13%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email-prospects{
  width: 22%;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.industry-prospects{
  width: 15%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.isclient-prospects {
  width: 8%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}