.business-prospects {
  display: flex;
  width: 100vw;
  max-width: 1685px;
  align-items: center;
  background-color: #000000;
  border-bottom: 1px solid white;
  height: 60px;
  font-size: 20px;
  padding: 0 20px;
  overflow-x: hidden;
}
.business-prospects:hover {
  background-color: #454851;
}

.name-prospects {
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-prospects {
  width: 17%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.phone-prospects {
  width: 13%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email-prospects{
  width: 22%;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.industry-prospects{
  width: 15%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.isclient-prospects {
  width: 8%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media only screen and (max-width: 1150px) {
  .industry-prospects,
  .isclient-prospects {
    display: none;
  }
  .name-prospects  {
    width:35vw;
  }
  
  .contact-prospects  {
    width:20vw;
  }
  
  .phone-prospects {
    width:15vw;
  }
  
  .email-prospects{
    width:30vw;
  }

}

@media only screen and (max-width: 750px) {
  .phone-prospects{
    display: none;
  }
  
  .email-prospects{
    display: none;
  }

  .name-prospects {
    width:65vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
  }
  
  .contact-prospects {
    width:35vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
  }
}
