.layout {
  background-color: white;;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.navigation-container {
  height: 100px;
  width: 100vw;
  max-width: 1685px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #000000;
  color: white;
  z-index: 2;
  overflow-x: hidden;
  filter: drop-shadow(0 1px 1px rgb(255, 255, 255));
}

a {
  text-decoration: none;
  color: #0083E3;
}

.layout-children {
  width: 100vw;
  max-width: 1685px;
  background-color: #131313;
  overflow-x: hidden;
}

.navigation-company-user {
  font-size: 35px;
  padding-left: 10px;
  padding-left: 25px;
}

.nav-name {
  font-size: 35px;
}

.navigation-dashboard {
  font-size: 30px;
}

.navigation-prospects {
  font-size: 30px;
}

.navigation-signout {
  font-size: 30px;
  color: #0083E3;
  padding-right: 25px;
}

.navigation-signout:hover {
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .navigation-company-user,
  .nav-name {
    display: none;
  }

  .navigation-signout,
  .navigation-dashboard,
  .navigation-prospects {
    font-size: 25px;
  }
  .navigation-signout {
    padding: 0
  }

}