.navigation-container {
  height: 100vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  border-right: white 1px solid;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #000000;
  color: white;
  z-index: 2;
}

a {
  text-decoration: none;
  color: #0083E3;
}

.layout {
  display: flex;
}

.layout-children {
  /* border: green 5px solid; */
  width: 80vw;
  background-color: #131313;
  overflow-x: hidden;
   /* display: flex; */
  /* justify-content: center; 
  align-items: center;  */
}

.navigation-company-user {
  border-bottom: 1px solid white;
  font-size: 40px;
  padding-left: 10px;
}

.nav-name {
  font-size: 35px;
}

.navigation-dashboard {
  font-size: 30px;
}

.navigation-prospects {
  font-size: 30px;
}

.navigation-signout {
  padding-left: 10px;
  font-size: 30px;
  color: #0083E3;
}

.navigation-signout:hover {
  cursor: pointer;
}


@media only screen and (max-width: 1300px) {
  .navigation-container {
    height: 80px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: white 1px solid;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #000000;
    color: white
  }
  .navigation-company-user {
    border-bottom: none;
    display: flex;
    font-size: 30px;
    padding-left: 10px;
  }

  .layout {
    display: flex;
    flex-direction: column;
  }
  .nav-name {
    font-size: 30px;
  }
  .layout-children{
   width: 100vw;
  background-color: #131313;
  overflow-x: hidden;
  }
}

@media only screen and (max-width: 760px) {
  .navigation-company-user {
    display: none;
  }

  .navigation-dashboard,
  .navigation-prospects,
  .navigation-signout {
    font-size: 20px;
  }
}

