.form-edit-container{
  display: grid;
  grid-template-areas: 
  "D D N"
  "B B B";
  width:100vw;
  max-width: 1685px;
  height: 100vh;
  background-color: #000000;
  filter: drop-shadow(0 0 5px rgb(90, 88, 88));
  background-color: #000000;
}

.form-details-container {
  grid-area: D;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70vw;
  height: 60vh;
  /* padding-right: 200px; */
}

.edit-label {
  margin-bottom: 10px;
  font-size: 20px;
  color: #0083E3;
}

.edit-input {
  margin-top: 50px;
  width: 450px;
  height: 40px;
  /* margin-bottom: 10px; */
  margin-right: 50px;
  font-size: 18px;
}

.notes-container-edit {
  grid-area: N;
  width: 27vw;
  height: 73vh;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  padding: 5px;
}
.edit-notes-input {
  height: 69vh;
  width: 27vw;
  display: flex;
  align-items: flex-start;
}
.notes-edit-label {
  font-size: 20px;
  color: #0083E3;
  margin-bottom: 5px;
}

textarea {
  resize: none;
}

.add-button {
  width: 150px;
  color:white;
  background-color: #0083E3;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}

.edit-button-container {
  height: 45px;
  width: 89vw;
  display: flex;
  justify-content: center;
  grid-area: B;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1300px) {
  .form-edit-container {
    width: 100vw;
    height: auto;
  }
  .form-details-container {
    grid-area: D;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 72vw;
    height: auto;

    /* padding-right: 200px; */
  }
  .notes-container-edit {
    grid-area: N;
    width: 27vw;
    height: auto;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    padding: 5px;
  }
  .edit-notes-input {
    height: 95%;
  }
}

@media only screen and (max-width: 750px) {
  .edit-notes-input,
  .notes-container-edit {
    display: none;
  }
  .form-details-container {
    width: 98vw;
    min-height: 100vh;
  }
  .edit-input {
    width: 300px;
  }
  .form-edit-container {
    width: 100vw;
  }
}